/*----------------Основные стили-----------------*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --black-color: #000000;
  --hero-bcg-color: #c4c4c4;
  --white-color: #ffffff;
  --icon-color: #afb1b8;
  --project-overlay-background: rgba(33, 150, 243, 0.9);
  --primary-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:active,
a:focus {
  outline: none;
}

button:active,
button:focus {
  outline: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*------------------Шапка сайта----------------*/

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: var(--black-color);

  padding-top: 32px;
  padding-bottom: 32px;
}

/* Меню навигации */
.container.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav--left {
  margin-left: 93px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--primary-duration) var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);

  border-radius: 2px;

  transform: scaleX(0);
  transition: transform var(--primary-duration) var(--timing-function);
}

.site-nav__link--current::after,
.site-nav__link:focus::after,
.site-nav__link:hover::after {
  transform: scaleX(1);
}

/* Контакты */
.contact-list {
  display: flex;
}

.contact-list--left {
  margin-left: auto;
}

.contact-list__item:nth-child(2) {
  margin-left: 50px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--primary-duration) var(--timing-function);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: currentColor;
}

.contact-list__icon--start {
  margin-right: 10px;
}

/*------------Стили основного контента------------*/
.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-bcg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__header {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border-width: 0;

  font-family: inherit;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.button--order {
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
}

.section__header {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section__list {
  display: flex;
}

.section__subheader {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
}

.section__text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Особенности */
.feature {
  padding: 94px 0;
}

.feature__item {
  display: inline-flex;
  flex-direction: column;

  width: 270px;
}

.feature__item:not(:first-child) {
  margin-left: 30px;
}

.feature__card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;

  background-color: var(--secondary-bcg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__icon {
  height: 70px;
  width: 70px;
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Услуги */
.service {
  padding-bottom: 94px;
}

.service__list {
  justify-content: space-between;
}

.service__item {
  position: relative;
}

.service__label {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service__text {
  color: var(--white-color);

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Команда */
.team.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bcg-color);
}

.team__member {
  padding-bottom: 30px;
  width: 270px;

  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member:not(:first-child) {
  margin-left: 30px;
}

.team__member-img {
  margin-bottom: 30px;
}

.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__member-spec {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--icon-color);
  background-color: transparent;

  border-radius: 50%;

  transition: color var(--primary-duration) var(--timing-function),
    background-color var(--primary-duration) var(--timing-function);
}

.social__link:hover,
.social__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.social__icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

/* Клиенты */
.client.section {
  padding: 94px 0;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition: color var(--primary-duration) var(--timing-function),
    border var(--primary-duration) var(--timing-function);
}

.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

/* Проекты */
.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:first-child) {
  margin-left: 8px;
}

.button--filter {
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);

  font-weight: 500;
  line-height: 1.63;

  transition: color var(--primary-duration) var(--timing-function),
    background-color var(--primary-duration) var(--timing-function),
    box-shadow var(--primary-duration) var(--timing-function);
}

.button--filter:hover,
.button--filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  flex-wrap: wrap;
}

.card-set__item {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 370px;

  background: var(--primary-bcg-color);
}

.card-set__item:nth-child(3n + 1) {
  margin-left: 0;
}

.card-set__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-set__link {
  display: block;
  text-decoration: none;

  transition: box-shadow var(--primary-duration) var(--timing-function);
}

.card-set__link:hover,
.card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__link .project__description {
  transition: transform var(--primary-duration) var(--timing-function);
}

.card-set__link:focus .project__description,
.card-set__link:hover .project__description {
  transform: translateY(0);
}

.project__item {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--project-overlay-background);

  transform: translateY(100%);
}

.project__description-text {
  color: var(--white-color);

  font-size: 18px;
  line-height: 1.56;
}

.project__label {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}

.project__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/*--------------- Подвал сайта ----------------------*/

.page-footer {
  background-color: var(--footer-bcg-color);
}

.section.page-footer {
  padding: 60px 0;
}

.container.footer {
  display: flex;
}

.page-footer__content {
  display: inline-flex;
  flex-direction: column;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__text--inverse {
  color: var(--white-color);
}

.address {
  display: inline-block;
  margin-bottom: 9px;

  color: var(--white-color);

  font-style: normal;
}

.contact-list--footer {
  display: flex;
  flex-direction: column;
}

.contact-list__item--footer {
  margin-bottom: 9px;
}

.contact-list__item--footer:nth-child(2) {
  margin-left: 0;
  margin-bottom: 0;
}

.contact-list__link--footer {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;

  color: rgba(255, 255, 255, 0.6);

  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
}

.social__label {
  margin-bottom: 20px;

  color: var(--white-color);

  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.social__content {
  display: inline-flex;
  flex-direction: column;

  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.social__list--footer {
  justify-content: space-between;
}

.social__link--footer {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;

  transition: background-color var(--primary-duration) var(--timing-function);
}

.social__link--footer:hover,
.social__link--footer:focus {
  background-color: var(--accent-color);
}

.social__icon--footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.newsletter-form {
  width: 570px;
  height: 86px;
}

.newsletter-form--left {
  margin-left: auto;
}

.newsletter-form__label {
  margin-bottom: 20px;

  color: var(--white-color);

  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form__input {
  width: 358px;
  height: 50px;

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.form__input[placeholder] {
  display: flex;
  align-items: center;
  padding: 15px 16px;

  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;
  line-height: 1.25;
}

.button--newsletter {
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
}

.button__overlay {
  display: flex;
  align-items: center;

  width: 143px;
  height: 30px;
}

.button__icon--end {
  margin-left: 10px;
}

/*--------------- Модальное окно ----------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--primary-duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--primary-duration) var(--timing-function);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--primary-bcg-color);
  cursor: pointer;
  transition: fill var(--primary-duration) var(--timing-function);
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

.form-modal {
  display: flex;
  flex-direction: column;

  padding: 40px;

  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-modal__label {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-field:nth-last-child(3) {
  margin-bottom: 20px;
}

.form-field__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.field {
  position: relative;
}

.field__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--primary-duration) var(--timing-function);
}

.field__input:focus + .field__icon,
.field__input:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--primary-duration) var(--timing-function);
}

.form-field__textarea {
  padding: 12px 16px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--primary-duration) var(--timing-function);
}

.form-field__textarea[placeholder] {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea:focus {
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.button--submit {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 56px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
}

.checkbox__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -24px;

  background-image: url(../images/check-off.svg);
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url(../images/check-on.svg);
}
