/* Логотип */
.logo {
  color: $accent-color;

  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: $black-color;
  padding-top: 32px;
  padding-bottom: 32px;

  &--inverse {
    color: $white-color;
  }
}
