/* Шапка сайта */
.site-nav {
  display: flex;

  &--left {
    margin-left: 93px;
  }
}

.site-nav__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $primary-duration$timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform $primary-duration$timing-function;
  }

  &--current::after,
  &:focus::after,
  &:hover::after {
    transform: scaleX(1);
  }
}
