$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bcg-color: #ffffff;
$secondary-bcg-color: #f5f4fa;
$footer-bcg-color: #2f303a;
$black-color: #000000;
$white-color: #ffffff;
$hero-bcg-color: #c4c4c4;
$icon-color: #afb1b8;
$project-overlay-background: rgba(33, 150, 243, 0.9);
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
